/* small Device */
@media screen and (max-width: 576px) {
    header
    {
        padding: 20px;
        max-width: 100%;
        background-size: 85%;
        background-position: center 150px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 430px;
    }
    nav>ul{
        gap: 15px;
    }
    .banner-container{
        text-align: center;
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-desc{
        font-size: 14px;
    }
    /* sponsor */
    /* main */
    main{
        width: 100%;
        padding: 0;
    }
    .sponsor-container{
        width: 100%;
        padding: 20;
        margin-bottom: 54px;
        border: none;
        text-align: center;
        grid-template-areas: 
            "img-1 img-2 img-3 img-4"
            "img-5 img-6 img-7";
    }
    .sponsor-container img{
        width: 50.936px;
        height: 15.332px;
        margin: 10px 15px;
    }
    .collections-container{
        flex-direction: column;
        gap: 40px;
    }
}