/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root{
    --primary-font : 48px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    height: 80vh;
    padding: 87px 120px 0;
    background-image: url("../images/main-camera.png"), url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: 90% 181px;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.1rem;
}
nav>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.logo{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
nav ul li a{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
/* banner content */
.banner-title{
    max-width: 582px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
}
.banner-desc{
    max-width: 505px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;    
    /* Common font */
    font-weight: 600;
    margin: 16px 0;
}
.btn-preebook{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    /* common font */
}

/* sponsor part */
.sponsor-container{
    margin: 70px auto 100px;
    max-width: 1110px;
    align-items: center;
    grid-template-areas: 
        "img-1 img-2 img-3 img-4 img-5 img-6 img-7"
    ;
    border-bottom: 1px solid rgb(165, 162, 162);
    border-top: 1px solid rgb(165, 162, 162);
    padding: 36px;
}
.sponsor-container img:nth-child(1){
    grid-area: img-1;
}
.sponsor-container img:nth-child(2){
    grid-area: img-2;
}
.sponsor-container img:nth-child(3){
    grid-area: img-3;
}
.sponsor-container img:nth-child(4){
    grid-area: img-4;
}
.sponsor-container img:nth-child(5){
    grid-area: img-5;
}
.sponsor-container img:nth-child(6){
    grid-area: img-6;
}
.sponsor-container img:nth-child(7){
    grid-area: img-7;
}


/* cart part */